Based on: 
- https://www.kaggle.com/code/ganu1899/sql-with-python
- I added information I got from the course un Udemy, SQL - MySQL for Data Analytics and Business Intelligence
    - certificate: <a href="URL">ude.my/UC-8c73755c-fd16-4734-aae6-40e8b72016be</a>

<center><h1><u> MySQL with Python </u></h1></center>

In [1]:
import mysql.connector

### To connect to a local server MySQL we need:

<code>mydb = mysql.connector.connect( 
    host="localhost",  
    user="yourusername",  
    password="yourpassword")</code>

<code>print(mydb)</code>

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="*************"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7fbc3815b790>

In [3]:
### Retourn a list of my databases
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('employees',)
('employees_mod',)
('information_schema',)
('Learn',)
('mysql',)
('performance_schema',)
('Sales',)
('sys',)

### To connect to a local database wich is on the local server MySQL we need:

<code>mydb = mysql.connector.connect( 
    host="localhost",  
    user="yourusername",  
    password="yourpassword"
    database="database_name")</code>

<code>print(mydb)</code>
<hr>
<blockquote>We only include database="mydatabase" in the code</blockquote>

### Basics os MySQL connector
To close de connection we use: <code>connection_name.close()</code>

### To create a database once we established a connection, we use the following code

<code>mycursor = mydb.cursor() </code>

<code>mycursor.execute("CREATE DATABASE mydatabase")</code>

In [4]:
#First step we need start from the begining, and DROP the Database if exists
mycursor.execute("DROP DATABASE IF EXISTS Learn")

In [5]:
mycursor.execute("CREATE DATABASE Learn")

## Creating a Table

- To create a table in MySQL, use the "CREATE TABLE" statement.

- Make sure you define the name of the database when you create the connection

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

In [6]:
mycursor.execute("USE Learn")
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [7]:
mycursor.execute("DROP TABLE IF EXISTS customers")

## Primary Key
- When creating a table, you should also create a column with a unique key for each record.
- This can be done by defining a PRIMARY KEY.
- We use the statement "INT AUTO_INCREMENT PRIMARY KEY" which will insert a unique number for each record. Starting at 1, and increased by one for each record.

#### Create primary key from the begining:

In [8]:
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

Reset:

In [9]:
mycursor.execute("DROP TABLE IF EXISTS customers")

In [10]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

#### If the table already exists, use the ALTER TABLE keyword:

In [11]:
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

## Insert Into Table
- To fill a table in MySQL, use the "INSERT INTO" statement.

In [12]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

Note: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

## Insert Multiple Rows
- To insert multiple rows into a table, use the executemany() method.
- The second parameter of the executemany() method is a list of tuples, containing the data you want to insert:

In [13]:
#import mysql.connector

#mydb = mysql.connector.connect(
#  host="localhost",
#  user="yourusername",
#  password="yourpassword",
#  database="mydatabase"
#)

#mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

### Get Inserted ID

- You can get the id of the row you just inserted by asking the cursor object.

- Note: If you insert more than one row, the id of the last inserted row is returned.

In [14]:
#import mysql.connector

#mydb = mysql.connector.connect(
#  host="localhost",
#  user="yourusername",
#  password="yourpassword",
#  database="mydatabase"
#)

#mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

Select From a Table
- To select from a table in MySQL, use the "SELECT" statement:

In [15]:
# Select all records from the "customers" table, and display the result:

#import mysql.connector

#mydb = mysql.connector.connect(
#  host="localhost",
#  user="yourusername",
#  password="yourpassword",
#  database="mydatabase"
#)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

<blockquote> <strong>Note:</strong> We use the fetchall() method, which fetches all rows from the last executed statement.</blockquote>

### Selecting Columns
- To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):

In [ ]:
# Select only the name and address columns:

#import mysql.connector

#mydb = mysql.connector.connect(
#  host="localhost",
#  user="yourusername",
#  password="yourpassword",
#  database="mydatabase"
#)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

### Using the fetchone() Method
- If you are only interested in one row, you can use the fetchone() method.

- The fetchone() method will return the first row of the result:

In [ ]:
#import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="V1O8649jose2022totin.191119996",
  database="Learn"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

## Select With a Filter

### WHERE
- When selecting records from a table, you can filter the selection by using the "WHERE" statement:

In [ ]:
#Select record(s) where the address is "Park Lane 38": result:

import mysql.connector

#mydb = mysql.connector.connect(
#  host="localhost",
#  user="root",
#  password="V1O8649jose2022totin.191119996",
#  database="Learn"
#)

mycursor = mydb.cursor(buffered=True)

sql = 'SELECT * FROM customers WHERE address ="Park Lane 38"'

mycursor.execute("USE Learn")

mycursor.execute(sql)

myresult = mycursor.fetchall()


for x in myresult:
    print(x)

### Wildcard Characters
- You can also select the records that starts, includes, or ends with a given letter or phrase.
- Use the % to represent wildcard characters

In [ ]:
# Select records where the address contains the word "way":

#import mysql.connector

#mydb = mysql.connector.connect(
#  host="localhost",
#  user="yourusername",
#  password="yourpassword",
#  database="mydatabase"
#)

#mycursor = mydb.cursor()

mycursor.execute('USE Learn')
sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

### Prevent SQL Injection
- When query values are provided by the user, you should escape the values.
    - This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.
- The mysql.connector module has methods to escape query values:

In [ ]:
# Escape query values by using the placholder %s method:

import mysql.connector

#mydb = mysql.connector.connect(
#  host="localhost",
#  user="yourusername",
#  password="yourpassword",
#  database="mydatabase"
#)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

## Order By

### Sort the Result
- Use the ORDER BY statement to sort the result in ascending or descending order.

- The ORDER BY keyword sorts the result ascending by default. To sort the result in descending order, use the DESC keyword.

In [ ]:
# Sort the result alphabetically by name: result:
import mysql.connector

#mydb = mysql.connector.connect(
#  host="localhost",
#  user="yourusername",
#  password="yourpassword",
#  database="mydatabase"
#)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

### ORDER BY DESC
- Use the DESC keyword to sort the result in a descending order.

In [ ]:
# Sort the result reverse alphabetically by name:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

## Delete From

### Delete Record
- You can delete records from an existing table by using the "DELETE FROM" statement:

In [ ]:
# Delete any record where the address is "Mountain 21":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

<blockquote> <strong>Note:</strong> Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.</blockquote>
<blockquote> <strong>Notice the WHERE clause in the DELETE syntax:</strong> The WHERE clause specifies which record(s) that should be deleted. If you omit the WHERE clause, all records will be deleted!</blockquote>

## Prevent SQL Injection
- It is considered a good practice to escape the values of any query, also in delete statements.
- This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.
- The mysql.connector module uses the placeholder %s to escape values in the delete statement:

In [ ]:
# Escape values by using the placeholder %s method:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

## Drop Table

### Delete a Table
- You can delete an existing table by using the "DROP TABLE" statement:

In [ ]:
# Delete the table "customers":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)

### Drop Only if Exist
- If the the table you want to delete is already deleted, or for any other reason does not exist, you can use the IF EXISTS keyword to avoid getting an error.

In [ ]:
# Delete the table "customers" if it exists:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

## Update Table

### Update Table
- You can update existing records in a table by using the "UPDATE" statement:

In [ ]:
# Overwrite the address column from "Valley 345" to "Canyoun 123":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

<blockquote><b>Note:</b> Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.</blockquote>

<blockquote>The WHERE clause specifies which record or records that should be updated. If you omit the WHERE clause, all records will be updated!</blockquote>

## Prevent SQL Injection
- It is considered a good practice to escape the values of any query, also in update statements.
- This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.
- The mysql.connector module uses the placeholder %s to escape values in the delete statement:

In [ ]:
# Escape values by using the placholder %s method:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

## Limit

## Limit the Result
- You can limit the number of records returned from the query, by using the "LIMIT" statement:

In [ ]:
# Select the 5 first records in the "customers" table:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

### Start From Another Position
- If you want to return five records, starting from the third record, you can use the "OFFSET" keyword:

In [ ]:
# Start from position 3, and return 5 records:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

<hr>

## Join

## Join Two or More Tables
- You can combine rows from two or more tables, based on a related column between them, by using a JOIN statement.
- Consider you have a "users" table and a "products" table.
- These two tables can be combined by using users' fav field and products' id field.

In [ ]:
# Join users and products to see the name of the users favorite product:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

<blockquote><b>Note:</b> You can use JOIN instead of INNER JOIN. They will both give you the same result.</blockquote>

### LEFT JOIN
- In the example above, Hannah, and Michael were excluded from the result, that is because INNER JOIN only shows the records where there is a match.
- If you want to show all users, even if they do not have a favorite product, use the LEFT JOIN statement:

In [ ]:
# Select all users and their favorite product:

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"

### RIGHT JOIN
- If you want to return all products, and the users who have them as their favorite, even if no user have them as their favorite, use the RIGHT JOIN statement:

In [ ]:
# Select all products, and the user(s) who have them as their favorite:

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"